:root {
    --green-prime: #7FBC04;
    --green-sec: #7AA22B;
    --green-dark: #3A7205;
    --yellow-prime: #BCA01B;
    --yellow-sec: #9C8C3E;
    --yellow-dark: #6C5C0E;
    --purple-prime: #572374;
    --purple-sec: #4F345E;
    --purple-dark: #2F143E;
}

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'MuseoModerno', cursive;
}

body {
    background-color: var(--purple-sec);
    background-image: url(images/bgtexture.png);
}

#game {
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 45vw;
    margin: 4vw;
    border: 1vw solid var(--purple-prime);
}

#game-before {
    display: block;
}

#game-after {
    display: none;
}

#game-lost {
    font-size: 5vw;
    align-content: center;
    display: none;
    margin: 4vw;
    cursor: pointer;
}

#game-lost h1 {
    color: var(--yellow-prime);
}

#game-lost h2 {
    color: var(--yellow-sec);
}

#game-space {
    width: 100%;
    height: 100%;
    display: none;
}

#start-buttons {
    display: flex;
    flex-direction: row;
    margin: 0.5vw;
    cursor: pointer;
}


#start-buttons div {
    margin: 0.5vw;
}

#start-button {
    background-color: var(--green-prime);
    padding: 1vw;
}

#rng-button {
    background-color: var(--yellow-prime);
    padding: 1vw;
}

#player {
    width: 5vw;
    height: 5vw;
    position: absolute;
    background-image: url(images/player/0-right.png);
}

#missile {
    width: 2vw;
    height: 45vw;
    margin-left: 45vw;
    background-color: var(--yellow-prime);
    position: absolute;
    display: none;
}

/* #missile-reload {
    width: 3vw;
    height: 6vw;
    position: absolute;
    background-color: var(--yellow-prime);
    top: 6vw;
    left: 90vw;
    background-color: var(--green-dark);
    padding: 0.5vw;
}

#missile-reload-percent {
    width: 100%;
    height: 100%;
    background-color: var(--green-prime);
} */

#warning {
    width: 100%;
    padding: 5px;
    color: red;
    background-color: var(--purple-dark);
    display: none;
}

#buttons {
    position: absolute;
    margin-top: 38vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
}

#buttons div:hover {
    background-color: var(--yellow-prime);
}

#game-before-info {
    display: flex;
    padding: 5px;
    color: var(--yellow-prime);
}

#basic-stats {
    min-width: 270px;
}

#buttons div {
    padding: 30px;
    background-color: rgb(255, 255, 255, 0.4);
    margin: 0.5vw;
    background-size: 100%;
    border-radius: 15%;
}

#button-right {
    background-image: url(images/keys/arrow-right.png);
}

#button-left {
    background-image: url(images/keys/arrow-left.png);
}

#button-shoot {
    background-image: url(images/keys/shoot.png);
}

.enemy {
    width: 4vw;
    height: 4vw;
    margin: 0.5vw;
    background-image: url(images/enemy/demon1.png);
    background-size: 100%;
}

#enemy-board {
    width: 90vw;
    height: 15vw;
}

#enemy-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 25vw;
    margin-left: 32vw;
    background-color: var(--green-prime);
    background-image: url(images/bg/classy-fabric.png);
    border-radius: 20%;
}

#game-info {
    width: 90vw;
    margin: 4vw;
    border: 1vw solid var(--purple-sec);
    border-radius: 2vw;
    background-color: var(--purple-dark);
    color: var(--yellow-prime);
    text-align: center;
    text-justify: justify;
}

#game-won{
    padding: 10vw;
    display: none;
    cursor: pointer;
}

#counter {
    position: absolute;
    font-size: 5vw;
    color: var(--green-prime);
    margin-left: 2vw;
}

@media only screen and (max-width: 500px) {
    #warning {
        display: block;
    }

    #game {
        display: none;
    }
  }